#info {
    max-width: 20%;
    border-left: 5px;
    border-top: none;
    border-bottom: none;
    border-color: gray;
}

#contadorEntradas {
    max-width: 60%;
    min-width: 50%;
    border: none;
}

#pagoContainer{
    max-width: 250px;
}

#plum{
    background-color: plum;
    max-width: 110%;
    text-align: center;
}
#pagar{
    background-color: red;
    text-align: center;
    color: white;
}
#pTotal{
    text-align: center;
    width: 180px;
}

#ratio{
   min-height: 100px;
   margin-top: 10%;
}

.cant[type=number]{
    width: 50px;
    text-align: center;
} 

.precio[type=number]{
    width: 50px;
    text-align: center;
} 